<!-- Header -->

<header class="header">

    <!-- Top Bar -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <ul class="top_bar_contact_list">
                                <li>
                                    <div class="question">Have any questions?</div>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div>04252 256246</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>mailtosainik@gmail.com</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col-12">


                    <nav class="navbar navbar-expand-sm ">
                        <a href="#">
                            <div class="logo_text">SS<span>A</span></div>
                        </a>
                        <ul class="navbar-nav ml-auto">
                            <li class="active"><a class="nav-link question " style="color: black" href="{% url 'exam:home' %}">Home</a></li>
                            {% if user.is_authenticated %}
                                {% if user.Employee.is_employee %}
                                    <li class="nav-item question"><a class="nav-link"  style="color: black"
                                                            href="{% url 'employee:employee_profile' %}">Profile</a>
                                    </li>
                                {% endif %}
                                {% if user.CadetParent.is_cadet_parent %}
                                    <li class="nav-item question "><a class="nav-link" style="color: black"
                                                            href="{% url 'cadetparent:cadet_parent_profile' %}">Profile</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if user.is_authenticated %}

                                <li class="nav-item question"><a class="nav-link" style="color: black" href="{% url 'accountregistrations:logout' %}">Logout</a>
                                </li>

                            {% else %}

                                <li class="nav-item question"><a class="nav-link" style="color: black" href="{% url 'accountregistrations:Login' %}">Register
                                    or Login</a></li>

                            {% endif %}
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>


</header>