{% extends 'exam/base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'exam/header.html' %}
    <!-- Home -->
    <div class="home">
        <div class="home_slider_container">
            <!-- Home Slider -->
            <div class="owl-carousel owl-theme home_slider">
                {% for i in len %}
                    <!-- Home Slider Item -->
                    <div class="owl-item">
                        {% if i == 0 %}
                            <div class="home_slider_background"
                                 style="background-image:url({% static "images/home_slider_default_0.jpg" %})"></div>
                        {% endif %}
                        {% if i == 1 %}
                            <div class="home_slider_background"
                                 style="background-image:url({% static "images/home_slider_default_1.jpg" %})"></div>
                        {% endif %}
                        {% if i == 2 %}
                            <div class="home_slider_background"
                                 style="background-image:url({% static "images/home_slider_default_2.jpg" %})"></div>
                        {% endif %}
                        {% if i == 3 %}
                            <div class="home_slider_background"
                                 style="background-image:url({% static "images/home_slider_default_3.jpg" %})"></div>
                        {% endif %}
                        <div class="home_slider_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="home_slider_form_container">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Home Slider Nav -->

        <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>




    {% include 'exam/footer.html' %}

{% endblock %}