{% extends 'exam/base.html' %}
{% block content %}
    <style>
        input {
            float: right !important;
            min-width: 45%;
        }

        select {
            float: right !important;
            min-width: 45%;
        }

        textarea {
            float: right;
            max-height: 45px;
        }

        p {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .btn-dark {
            color: #fff;
            background: #14bdee;
            border-color: aqua;
        }

        .errorlist {
            color: red;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

    </style>
    {% include 'exam/header.html' %}
    <br>
    <br>
    <div class="container" style="margin-top: 10% !important;">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h1>
                    Add Exam Record
                </h1>
            </div>
            <span style="color: red;margin-right: 5px;">*</span><h6>(Required)</h6>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12" style="overflow-x:auto;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for dict in formset.errors %}
                        {% for error in dict.values %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                    <table>

                        <tr>
                            <th>Cadet Roll Num</th>
                            <th>Cadet Name</th>
                            {% if formset.prefix == 'formset2' %}
                                <th style="text-align: center">Theory Marks(out of 70)<span style="color: red">*</span>
                                </th>
                                <th style="text-align: center">NBS Marks(out of 5)<span style="color: red">*</span></th>
                                <th style="text-align: center">SEA Marks(out of 5)<span style="color: red">*</span></th>
                                <th style="text-align: center">PT1 Marks(out of 10)<span style="color: red">*</span>
                                </th>
                                <th style="text-align: center">Grade<span style="color: red">*</span></th>
                            {% elif formset.prefix == 'formset3' %}
                                <th style="text-align: center">Theory Marks(out of 70)<span style="color: red">*</span>
                                </th>
                                <th style="text-align: center">Practical Marks(out of 30)<span
                                        style="color: red">*</span></th>
                            {% else %}
                                <th style="text-align: center">Marks(out of 40)<span style="color: red">*</span></th>
                                <th style="text-align: center">Grade<span style="color: red">*</span></th>
                            {% endif %}
                            <th style="text-align: center">Percentage<span style="color: red">*</span></th>
                            <th style="text-align: center">Rank</th>
                        </tr>

                        {% for student,form in combine %}
                            <tr>
                                <td>{{ student.Roll_Num }}</td>
                                <td>{{ student.Cadet_Name }}</td>
                                {% for fields in form %}
                                    {% if not fields.label == 'Max marks' %}
                                        <td>{{ fields }}</td>
                                    {% endif %}
                                {% endfor %}
                                {% if formset.prefix == 'formset1' %}
                                    <td><input type="hidden" name="formset1-0-Max_marks"
                                               id="id_formset1-0-Max_marks"
                                               value={{ Max_marks }}>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <br>
                    </table>
                    <p align="center">
                        <button class="btn btn-dark" type="submit" name="form2">Save</button>
                    </p>

                </form>
            </div>
            <hr>
        </div>


    </div>
    <br>
    <br>

    {% include 'exam/footer.html' %}
{% endblock content %}
