{% extends 'exam/base.html' %}
{% block content %}
    <style>
        input {
            width: 90% !important;
        }

        .errorlist {
            color: red;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding:4px;
        }
    </style>
    {% include 'exam/header.html' %}
    <br>
    <br>
    <div class="container" style="margin-top: 10% !important;">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h1>
                    Student Exam Record
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="{% url 'exam:student_exam_edit' pk=student_profile.pk %}">{% csrf_token %}
            {{ formset1.management_form }}

            {% for dict in formset1.errors %}
                {% for error in dict.values %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            {% for dict in formset2.errors %}
                {% for error in dict.values %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            {% if examrecord1 %}
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <h4>
                            Periodic Test 1
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>Class Teacher</th>
                                <th>Exam</th>
                                <th>Max Marks</th>
                                <th>Subject</th>
                                <th>Exam Date</th>
                                <th>Marks</th>
                                <th>Percentage</th>
                                <th>Grade</th>
                                <th>Rank</th>

                            </tr>
                            {% for form in formset1 %}
                                {% if form.instance.Exam == 'Periodic Test 1' %}
                                    <tr>
                                        {% for fields in form %}
                                            <td>{{ fields }}</td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br>
            {% endif %}


            {% if examrecord3 %}
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <h4>
                            Periodic Test 2
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table>
                           <tr>
                                <th>Class Teacher</th>
                                <th>Exam</th>
                                <th>Max Marks</th>
                                <th>Subject</th>
                                <th>Exam Date</th>
                                <th>Marks</th>
                                <th>Percentage</th>
                                <th>Grade</th>
                                <th>Rank</th>

                            </tr>
                            {% for form in formset1 %}
                                {% if form.instance.Exam == 'Periodic Test 2' %}
                                    <tr>
                                        {% for fields in form %}
                                            <td>{{ fields }}</td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>

                                {% endif %}
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <br>
            {% endif %}

            {% if examrecord4 %}
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <h4>
                            Pre Mid Term Examination
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>Class Teacher</th>
                                <th>Exam</th>
                                <th>Max Marks</th>
                                <th>Subject</th>
                                <th>Exam Date</th>
                                <th>Marks</th>
                                <th>Percentage</th>
                                <th>Grade</th>
                                <th>Rank</th>
                            </tr>
                            {% for form in formset1 %}
                                {% if form.instance.Exam == 'Pre Mid Term Examination' %}
                                    <tr>
                                        {% for fields in form %}
                                            <td>{{ fields }}</td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>
                                {% else %}
                                    <tr>
                                        {% for fields in form %}
                                            <td></td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <br>
            {% endif %}
            {{ formset2.management_form }}
            {% if examrecord2 %}
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <h4>
                            Mid Term Exam
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table>
                             <tr>
                                <th>Subject</th>
                                <th>Exam Date</th>
                                {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                    <th>Theory Marks</th>
                                    <th>NBS Marks</th>
                                    <th>SEA Marks</th>
                                    <th>PT1 Marks</th>
                                    <th>Grade</th>
                                {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                    <th>Theory Marks</th>
                                    <th>Practical Marks</th>
                                {% endif %}
                                 <th>Percentage</th>
                                 <th>Rank</th>
                            </tr>
                            {% for form in formset2 %}
                                {% if form.instance.Exam == 'Mid Term Exam' %}
                                    <tr>
                                        {% for fields in form %}
                                            <td>{{ fields }}</td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br>
            {% endif %}
            {% if examrecord5 %}
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <h4>
                            Post Mid Term Examination
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>Subject</th>
                                <th>Exam Date</th>
                                {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                    <th>Theory Marks</th>
                                    <th>NBS Marks</th>
                                    <th>SEA Marks</th>
                                    <th>PT1 Marks</th>
                                    <th>Grade</th>
                                {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                    <th>Theory Marks</th>
                                    <th>Practical Marks</th>
                                {% endif %}
                                <th>Percentage</th>
                                <th>Rank</th>
                            </tr>
                            {% for form in formset2 %}
                                {% if form.instance.Exam == 'Post Mid Term Examination' %}
                                    <tr>
                                        {% for fields in form %}
                                            <td>{{ fields }}</td>
                                        {% endfor %}
                                        {{ form.id }}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        </table>
                    </div>
                </div>
            {% endif %}
            <br>
            {% if examrecord1 or examrecord2 or examrecord3 or examrecord4 or examrecord5 %}
            <p align="center">
                <button class="btn btn-primary" type="submit">Save</button>
            </p>
            {% else %}
            <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <h6>
                   Data to be Added soon
                </h6>
            </div>
        </div>
            {% endif %}
        </form>
    </div>
    <br>
    <br>

    {% include 'exam/footer.html' %}
{% endblock content %}

