{% extends 'exam/base.html' %}
{% block content %}
    <style>
        input {
            float: right !important;
            min-width: 45%;
        }

        select {
            float: right !important;
            min-width: 45%;
        }

        textarea {
            float: right;
            max-height: 45px;
        }

        p {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .btn-dark {
            color: #fff;
            background: #14bdee;
            border-color: aqua;
        }

        .errorlist {
            color: red;
        }

    </style>
    {% include 'exam/header.html' %}
    <br>
    <br>
    <div class="container" style="margin-top: 10% !important;">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h1>
                    Add Cadet Record
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-12">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in add_form %}
                        <p style="margin-top: 50px; margin-bottom: 50px;">
                            {{ field.label }} {% if field.field.required %}
                            <span style="color: red">*</span> {% endif %}
                            {{ field }}
                            {{ field.errors }}
                        </p>
                    {% endfor %}
                    <br>
                    <p align="center">
                        <button class="btn btn-dark" type="submit">Save</button>
                    </p>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br>
    <br>

    {% include 'exam/footer.html' %}
{% endblock content %}