{% extends 'exam/base.html' %}
{% block content %}
    <style>
        .btn-dark {
            color: #fff;
            background: #14bdee;
            border-color: aqua;
        }
    </style>
    {% include 'exam/header.html' %}
    <div class="container" style="margin-top: 15% !important;">
        <div class="row">
            <div class="col-md-4 col-xs-12" style="text-align: center">
                <a href="{% url 'employee:create_student_record' %}">
                    <button class="btn btn-dark" href="">
                        Add Student Record
                    </button>
                </a>
            </div>
            <div class="col-md-4 col-xs-12" style="text-align: center">
                <a href="{% url 'exam:create_exam_record' %}">
                    <button class="btn btn-dark" href="">
                        Add Exam Record
                    </button>
                </a>
            </div>

            <div class="col-md-4 col-xs-12">
                <form method="GET" action="" style="width: unset!important; float: right">
                    <input type="text" name="q" class="textbox" placeholder="Search...."
                           value="{{ request.GET.q }}">
                    <input title="Search" value="Search" type="submit" class="button">
                </form>
            </div>

            <hr>

        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            {% for profile in student_profile %}
                <div class="col-md-3 col-12" style="text-align: center; margin-top: 15px !important;">
                    <a href="{% url 'employee:student_detail' pk=profile.id %}">
                        <div class="img-thumbnail img-fluid">
                            <img src="{% if profile.Photograph_Cadet %}{{ profile.Photograph_Cadet.url }}{% endif %}"
                                 class="rounded img-fluid"
                                 alt="Cadet Photo" style="max-height: 250px!important; min-height: 250px!important;">
                            <h2>{{ profile.Roll_Num }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>
    <br>
    <br>
    <hr>
    {% include 'exam/footer.html' %}
{% endblock content %}