{% extends 'exam/base.html' %}
{% load  employee_extra %}
{% block content %}
    {% include 'exam/header.html' %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("document").ready(function () {
            var element = document.getElementById("form1");
            element.classList.remove("fade");
            element.classList.add("active");
        });
    </script>
    <br>

    <div class="container"
         style="margin-top: 15%!important;color: black;box-sizing: border-box;border: 1px solid lightgrey;">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h2>
                    Student Profile
                </h2>
            </div>
        </div>
        <div class="row" style="margin-top: 2%!important;">
            <div class="col-md-4" style="text-align: center;">
                <img src="
                        {% if student_profile.Photograph_Cadet %}{{ student_profile.Photograph_Cadet.url }}{% endif %}"
                     class="rounded img-fluid" alt="Cadet Photo"
                     style="max-height: 250px!important; min-height: 250px!important">
                <hr>
                {% if user.Employee.is_employee %}
                    <p>
                        <a href="{% url 'exam:student_exam_edit' pk=student_profile.id %}">
                            <button class="btn btn-primary">
                                Edit Exam Record
                            </button>
                        </a>
                        <a href="{% url 'employee:edit_student_record' pk=student_profile.id %}">
                            <button class="btn btn-primary">
                                Edit Student Details
                            </button>
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div>
                    <ul class="nav nav-tabs ">
                        <li class="col-6" style="text-align: center;margin-top:25px"><a data-toggle="tab" href="#form1">Student
                            Details</a></li>
                        <li class="col-6" style="text-align: center;margin-top:25px"><a data-toggle="tab" href="#form2">Exam
                            Records</a></li>
                    </ul>
                </div>

                <div class="tab-content" id="detail" style="margin: 25px 50px">
                    <div id="form1" class="tab-pane fade">
                        {% for name, value in student_profile.get_fields %}
                            <div class="row">
                                {% if value and not name == 'id' and not name == 'height_field' and not name == 'width_field' and not name == 'Photograph_Cadet'  and not name == 'Language_II_Subject' %}
                                    <div class="col-md-3 col-6">
                                        {{ name|replace }}:
                                        <hr>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        {{ value }}
                                        <hr>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="form2" class="tab-pane fade">

                        {% if examrecord1 %}
                            <div class="row" style="text-align: left;">
                                <h6>Class Teacher</h6>:{{ examrecord1.first.Class_Teacher }}
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4"><h6>Exam:</h6>Periodic Test 1</div>
                                <div class="col-4"><h6>Exam Date:</h6>{{ examrecord1.first.Exam_Date }}</div>
                                <div class="col-4"><h6>Max_Marks:</h6>{{ examrecord1.first.Max_Marks }}</div>
                            </div>
                            <br>
                            <div class="row">
                                <table>
                                    <tr>
                                        <th class="col-2">Subject</th>
                                        <th class="col-2">Marks</th>
                                        <th class="col-2">Grade</th>
                                        <th class="col-2">Percentage</th>
                                        <th class="col-2">Rank</th>
                                    </tr>

                                    {% for record in examrecord1 %}
                                        <tr>
                                            <td class="col-2">{{ record.Subject }}</td>
                                            <td class="col-2">{{ record.Marks }}</td>
                                            <td class="col-2">{{ record.Grade }}</td>
                                            <td class="col-2">{{ record.Percentage }}</td>
                                            <td class="col-2">{{ record.Rank }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <hr>
                            <br>
                        {% endif  %}
                        {% if examrecord2 %}

                            <br>
                            <div class="row">
                                <div class="col-4"><h6>Exam:</h6>Mid Term Exam</div>
                                <div class="col-4"><h6>Exam Date:</h6>{{ examrecord2.first.Exam_Date }}</div>
                                <div class="col-4"><h6>Max_Marks:</h6>100</div>
                            </div>
                            <br>
                            <div class="row">
                                <table>
                                    <tr>
                                        <th class="col-1">Subject</th>
                                        {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                            <th class="col-1">Theory Marks</th>
                                            <th class="col-1">NBS Marks</th>
                                            <th class="col-1">SEA Marks</th>
                                            <th class="col-1">PT1 Marks</th>
                                        {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                            <th class="col-1">Theory Marks</th>
                                            <th class="col-1">Practical Marks</th>
                                        {% endif %}
                                        <th class="col-1">Grade</th>
                                        <th class="col-1">Percentage</th>
                                        <th class="col-1">Rank</th>
                                    </tr>

                                    {% for record in examrecord2 %}
                                        <tr>
                                            <td class="col-1">{{ record.Subject }}</td>
                                            {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                                <td class="col-1">{{ record.Theory_Exam_Marks }}</td>
                                                <td class="col-1">{{ record.NBS_Marks }}</td>
                                                <td class="col-1">{{ record.SEA_Marks }}</td>
                                                <td class="col-1">{{ record.PT1_Marks }}</td>
                                            {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                                <td class="col-1">{{ record.Theory_Marks }}</td>
                                                <td class="col-1">{{ record.Practical_Marks }}</td>
                                            {% endif %}
                                            <td class="col-1">{{ record.Grade }}</td>
                                            <td class="col-1">{{ record.Percentage }}</td>
                                            <td class="col-1">{{ record.Rank }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <hr>
                            <br>
                        {% endif %}
                        {% if examrecord3 %}

                            <br>
                            <div class="row">
                                <div class="col-4"><h6>Exam:</h6>Periodic Test 2</div>
                                <div class="col-4"><h6>Exam Date:</h6>{{ examrecord3.first.Exam_Date }}</div>
                                <div class="col-4"><h6>Max_Marks:</h6>{{ examrecord3.first.Max_Marks }}</div>
                            </div>
                            <br>
                            <div class="row">
                                <table>
                                    <tr>
                                        <th class="col-2">Subject</th>
                                        <th class="col-2">Marks</th>
                                        <th class="col-2">Grade</th>
                                        <th class="col-2">Percentage</th>
                                        <th class="col-2">Rank</th>
                                    </tr>

                                    {% for record in examrecord3 %}
                                        <tr>
                                            <td class="col-2">{{ record.Subject }}</td>
                                            <td class="col-2">{{ record.Marks }}</td>
                                            <td class="col-2">{{ record.Grade }}</td>
                                            <td class="col-2">{{ record.Percentage }}</td>
                                            <td class="col-2">{{ record.Rank }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <hr>
                            <br>
                        {% endif %}
                        {% if examrecord4 %}

                            <br>
                            <div class="row">
                                <div class="col-4"><h6>Exam:</h6>Pre Mid Term Exam</div>
                                <div class="col-4"><h6>Exam Date:</h6>{{ examrecord4.first.Exam_Date }}</div>
                                <div class="col-4"><h6>Max_Marks:</h6>{{ examrecord4.first.Max_Marks }}</div>
                            </div>
                            <br>
                            <div class="row">
                                <table>
                                    <tr>
                                        <th class="col-2">Subject</th>
                                        <th class="col-2">Marks</th>
                                        <th class="col-2">Grade</th>
                                        <th class="col-2">Percentage</th>
                                        <th class="col-2">Rank</th>
                                    </tr>

                                    {% for record in examrecord4 %}
                                        <tr>
                                            <td class="col-2">{{ record.Subject }}</td>
                                            <td class="col-2">{{ record.Marks }}</td>
                                            <td class="col-2">{{ record.Grade }}</td>
                                            <td class="col-2">{{ record.Percentage }}</td>
                                            <td class="col-2">{{ record.Rank }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <hr>
                            <br>
                        {% endif %}
                        {% if examrecord5 %}

                            <div class="row">
                                <div class="col-4"><h6>Exam:</h6>Post Mid Term Examination</div>
                                <div class="col-4"><h6>Exam Date:</h6>{{ examrecord5.first.Exam_Date }}</div>
                                <div class="col-4"><h6>Max_Marks:</h6>100</div>
                            </div>
                            <br>
                            <div class="row">
                                <table>
                                    <tr>
                                        <th class="col-1">Subject</th>
                                        {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                            <th class="col-1">Theory Marks</th>
                                            <th class="col-1">NBS Marks</th>
                                            <th class="col-1">SEA Marks</th>
                                            <th class="col-1">PT1 Marks</th>
                                        {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                            <th class="col-1">Theory Marks</th>
                                            <th class="col-1">Practical Marks</th>
                                        {% endif %}
                                        <th class="col-1">Grade</th>
                                        <th class="col-1">Percentage</th>
                                        <th class="col-1">Rank</th>
                                    </tr>

                                    {% for record in examrecord5 %}
                                        <tr>
                                            <td class="col-1">{{ record.Subject }}</td>
                                            {% if student_profile.Class == '6' or student_profile.Class == '7' or student_profile.Class == '8' or student_profile.Class == '9' or student_profile.Class == '10' %}
                                                <td class="col-1">{{ record.Theory_Exam_Marks }}</td>
                                                <td class="col-1">{{ record.NBS_Marks }}</td>
                                                <td class="col-1">{{ record.SEA_Marks }}</td>
                                                <td class="col-1">{{ record.PT1_Marks }}</td>
                                            {% elif student_profile.Class == '11' or student_profile.Class == '12' %}
                                                <td class="col-1">{{ record.Theory_Marks }}</td>
                                                <td class="col-1">{{ record.Practical_Marks }}</td>
                                            {% endif %}
                                            <td class="col-1">{{ record.Grade }}</td>
                                            <td class="col-1">{{ record.Percentage }}</td>
                                            <td class="col-1">{{ record.Rank }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        {% endif %}
                        {% if examrecord1 or examrecord2 or examrecord3 or examrecord4 or examrecord5 %}
                            <div class="row">
                                <div class="col-12" style="text-align: center;">

                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-12" style="text-align: center;">
                                    <h6>Data To Be Added Soon...</h6>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}