{% extends 'exam/base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'exam/header.html' %}
    <div id="peace-layout" style="margin-top: 15% !important;">
        <h2 align="center">The confirmation link was invalid, possibly because it has already been used.</h2>
    </div>
{% endblock %}